header {
  background-image: url("../../img/eduVPN/logo.png");
  background-repeat: no-repeat;
  background-size: 169px 50px;
  min-height: calc(50px + 1em);
}

header button {
  color: #777;
}

a, a:hover {
  color: #e24301;
}

button {
  color: #e24301;
}
