header {
    background-image: url("../../img/eduVPN/eduvpn_banner_small.png");
    background-repeat: no-repeat;
}

h1 {
    color: #df7f0c;
}

a, a:hover {
    color: #df7f0c;
}

button {
    color: #df7f0c;
}
