header {
    background-image: url("../../img/eduVPN/eduvpn_banner_small.png");
    background-repeat: no-repeat;
    height: 65px;
}

header button {
    color: #777;
}

a, a:hover {
    color: #df7f0c;
}

button {
    color: #df7f0c;
}